body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.container-fluid {
    padding: 7% 15%;
}

/*+++++++++++++++++++++++++++++++++ Title section ++++++++++++++++++++++++++++++++++++++++++++*/

#title {
    background-color: #ff4c68;
    color: white;
}

#title .container-fluid{
    padding: 3% 15% 7%;
}

.presentation-text {
    font-size: 3.5rem;
    font-weight: bold;
    size: 3.5rem;
    line-height: 1.5;
}

.download-buttons {
    margin-top: 15%;
    margin-bottom: 10%;
    margin-right: 5%;
}

.rotated-img {
    transform: rotate(25deg);
    width: 60%;
    margin-left: 25%;
    position: absolute;
    right: 15%;

}

/*++++++++++++++++++++++++++ Navigation bar  +++++++++++++++++++++++++++++++++++*/
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding-right: 5%;
    padding-left: 5%;
}

.navbar-nav {
    margin-left: 50%;
}

.nav-link {

    font-size: 2rem;
    font-family: "Monsterrat";
}

/*+++++++++++++++++++ Features section ++++++++++++++++++++++++++++++++++++++++++++++++*/

#features {
    background-color: #ffffff;
    position: relative;
    z-index: 1;
    /* optional */
}

.features-sections {
    padding: 4.5%;
}

.features-icons {
    font-size: 4rem;
    color: #ef8172;
    padding-bottom: 5%;
}

.features-icons:hover {
    color: #ff4c68;
}

.features-paragraphs {
    color: #8f8f8f;
}

.features-headers {
    font-size: 1.5rem;

}


/*+++++++++++++++++++++++++++++++++++++ Testimonial section ++++++++++++++++++++++++++++++++++++++++*/

#testimonials {

    background-color: #ef8172;
    color: #ffffff;
}

.testimonials-header {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bolder;
}

.testimonials-image {
    width: 10%;
    border-radius: 100%;
    margin: 3%;
}

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 3% 2% 3%;

}

.carousel-item {
    padding: 7% 15%;
}


/*+++++++++++++++++++++++++++++++++++++++++++++ Pricing section ++++++++++++++++++++++++++++++++++++*/
#pricing {
    padding: 10%;
}

.pricing-column {
    padding: 2.5% 2%;
}

.pricing-text {
    font-size: 3rem;
    line-height: 1.5;
}


/*++++++++++++++++++++++++++++++ Call to action and footer ++++++++++++++++++++++++++++++++++++++++++++++++*/
#cta {
    background-color: #ff4c68;
}

.cta-text {
    font-family: "Monsterrat", sans-serif;
    color: #ffffff;
    font-size: 3.5rem;
    line-height: 1.5;
    padding: 3% 7% 3% 7%;
}

.download-buttons2 {
    margin: 1% 7% 3%;
}

#footer {
    padding-top: 5%;
}

.footer-icons {
    font-size: 1rem;
    padding-right: 1%;
}

.footer-icons:hover {
    color: #ff4c68;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++ Media querry breakpoints +++++++++++++++++++++++++++++++++++++*/
@media (max-width: 1000px) {
    #title {
        text-align: center;
    }

    .rotated-img {
        width: 60%;
        position: static;
        transform: rotate(0);
        margin-left: 0;
    }
}